#navbar {
    background: "#F8F7F5";
}

#header {

}

#navbar .nav-logo {
    max-height: none !important;
    max-width: none !important;
    height: auto !important;
    width: 163px !important;
}

footer {
    margin-top: 2rem;
}